weights/**/*.bin
weights/**/*.pth
weights/**/*.pt
Grounded-SAM-2/**
!Grounded-SAM-2/.gitkeep
MoG-VFI/**
!MoG-VFI/.gitkeep
MagicMotion/**
!MagicMotion/.gitkeep
flash-attention/**
!flash-attention/.gitkeep
check_how_many_videos.sh
sample_data_from_shared.sh
sampled_list.txt
.env
DynamiCrafter/lvdm/data/*.csv
**/*.pt
finetrainers_modification/